#pagecontainer {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: visible;

    &.animated {
        overflow-y: hidden;

        > .page {
            transition-property: transform;
            transition-duration: 300ms;
        }
    }

    > .page {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;
        background: #ffffff;
        z-index: 1;
        backface-visibility: hidden;
        transform: translateX(var(--pageTranslateX));
        top: var(--pageTranslateY);

        &::before {
            display: block;
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 0.3rem;
            z-index: 1000;
        }

        &.loading {
            &::before {
                width: 100%;
                transition-property: width;
                transition-duration: 1000ms;
            }
        }
        &.current-page {
            z-index: 2;
            position: relative;
        }
    }
}
